.addFriend-containter .friend-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.clearfix:after {
  content: '';
  height: 0;
  display: block;
  visibility: hidden;
  clear: both; }

.clearfix {
  zoom: 1; }

.addFriend-containter {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("/chatpet/images/bg/bg-bear-addfriend.png") no-repeat;
  background-size: 100% 100%; }
  .addFriend-containter .friend-content {
    text-align: center;
    position: absolute;
    top: 63%; }
    .addFriend-containter .friend-content .qrCode-box {
      width: 290px;
      height: 290px; }
      .addFriend-containter .friend-content .qrCode-box .qrCode {
        width: 290px;
        height: 290px; }
    .addFriend-containter .friend-content .info-box {
      font-family: PingFangSC;
      font-weight: 500;
      font-size: 32px;
      color: #00ADCC;
      margin-top: 29px; }
