
:global {
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
  }
  body, html, #root, .containter {
    width: 100%;
    height: 100%;
  }
  ul li {
    list-style: none;
  }
  a,button,input{
    -webkit-tap-highlight-color:rgba(255,0,0,0);
    -webkit-appearance: none;
  }

  textarea::-webkit-input-placeholder,
  input::-webkit-input-placeholder {
    color: #BCC4C4;
  }

  textarea::-moz-input-placeholde,
  input::-moz-input-placeholder {
    color: #BCC4C4;
  }

  textarea::-o-input-placeholder,
  input::-o-input-placeholder {
    color: #BCC4C4;
  }
  .verticalCenter{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

}



